*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: gray;
}

.fa-bars{
    position: fixed;
    top:30px;
    right:45px;
    font-size: 30px;
    color:coral;
    cursor:pointer;
}

.sidebar{
    position: fixed;
    top:0;
    left: 0;
    background-color: white;
    height: 100%;
    width: 500px;
    transform:translate(-100%);
    transition: 0.3s;
}

.sidebarHeader {
    text-align: right;
    padding: 16px;
}

.menu a{
text-decoration: none;
color: gray;
font-size: 24px;
padding: 16px 24px;
display: block;
}

.menu a:hover{
    background-color: coral;
    color: white;
    padding-left: 40px;
  
}

.showSidebar{
    transform:translate(0%);
}




@media(max-width:768px){
    .sidebar{
        width: 100%;
    }
}